<!DOCTYPE html>
<html>
  <head>
    <title>Update Artist</title>
    <link rel="stylesheet" href="/style.css">
  </head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <%- include('../partials/search.ejs') %>
  <div class="content-container">
    <div class="title-card green">
        <h2><%= title %></h2>
    </div>
    <form action="/category/artworks/update/<%= artwork.id %>" method="POST">
        <label for="artist">Artist: </label>
            <select name="artist" id="artist" required>
                <% artists.map((artist, index) => { %>
                    <option value="<%= artist.name %>"><%= artist.name %></option>
                <% }) %>

            </select>

            <label for="title">Title: </label>
            <input type="text" name="title" value="<%= artwork.title %>" required>

            <label for="medium">Medium: </label>
            <select name="medium" id="medium" required>
              <% mediums.map((medium, index) => { %>
                  <option value="<%= medium.material %>"><%= medium.material %></option>
              <% }) %>
            </select>

            <label for="location">Location: </label>
            <select name="location" id="location" required>
              <% locations.map((location, index) => { %>
                  <option value="<%= location.city %>"><%= location.city %></option>
              <% }) %>
            </select>

            <label for="year">Year: </label>
            <input type="number" name="year" value="<%= artwork.year %>" required>

            <label for="Style">Style: </label>
            <select name="style" id="style" required>
              <% styles.map((style, index) => { %>
                  <option value="<%= style.art_style %>"><%= style.art_style %></option>
              <% }) %>
            </select>

            <label for="img_url">Image Url: </label>
            <input type="text" name="img_url" value="<%= artwork.img_url %>">

            <button type="submit">Update Artwork</button>
      </form>
  </div>


</body>
</html>
