<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/cardsStyle.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/sidebar.ejs') %>
    <%- include('../partials/search.ejs') %>
    <div class="content-container">
        <div class="title-card pink">
            <h2><%= name %></h2>
        </div>
        <div class="artist-profile-container">
            <div class="left-info">
                <img src="<%=img_url%>">
            </div>
            <div class="right-info">
                <h2><%= birthDate %></h2>
                <h2><%= deathDate %></h2>
            </div>

        </div>
        <h1>Artworks</h1>
        <div class="artworks-container">
                    <div class="artwork-card">
                        <div class="bottom">
                            <a href="/category/artworks/<%= artwork.id %>">
                                <img class="proflie-pic" src="<%=artwork.img_url%>">
                            </a>
                          <div class="bottom-info">
                            <p><%= artwork.title %></p>
                          </div>
                        </div>
                      </div>
        </div>

    </div>

</body>
</html>
